* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Inter, sans-serif;
  color: #050510;
}

.refresh {
  max-width: 1280px;
  margin: auto;
  padding: 10px 16px;
}

@media screen and (min-width: 600px){
  .refresh{
      width: 1280px;
  }
}

.linkStyle {
  text-decoration: none;
}
